*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.name{

    font-family: 'Dancing Script', cursive;
}

img {
    width: 75px;
    margin: 10px;
  }
  table {
    width: 200px;
    background-color: lightcyan;
    display:inline-block;
  }
  td,
  th {
    border: 1px solid black;
    padding: 4px;
    margin-top: 20px;
  }
  th {
    text-align: left;
    color: black;
    background-color: azure;
  }
  .frequencyTableDiv{
      text-align: center;
      margin: 16px;
  }